<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}So purrdy{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        {% block additional_css %}{% endblock %}
    </head>

    <body>
        <!-- Top navbar -->
        <!-- navbar-inverse is a black navbar -->
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{ url_for('index') }}">So Purrdy</a>

                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        {% block additional_js %}{% endblock %}
    </body>
</html>
