{% extends "_base.html" %}

{% block content %}
    <h3>Enter HTML below</h3>
    <form method="POST" action="{{ url_for('index') }}">
        <textarea class="span12" rows="30" name="ugly_html"></textarea>
        <button type="submit" class="btn btn-inverse pull-right">Submit</button>
    </form>
{% endblock %}
