{% extends "_base.html" %}

{% block additional_css %}
    <link href="{{ url_for('static', filename='css/shCore.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/shThemeMidnight.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <pre class="brush: xhtml">{{ pretty }}</pre>
{% endblock %}

{% block additional_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/shCore.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/shBrushXml.js') }}"></script>

    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>
{% endblock %}
